
#particles-js{
    background: hsla(208, 35%, 48%, 1);
    background: linear-gradient(45deg, hsla(208, 35%, 48%, 1) 39%, hsla(185, 80%, 65%, 1) 90%);
    background: -moz-linear-gradient(45deg, hsla(208, 35%, 48%, 1) 39%, hsla(185, 80%, 65%, 1) 90%);
    background: -webkit-linear-gradient(45deg, hsla(208, 35%, 48%, 1) 39%, hsla(185, 80%, 65%, 1) 90%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#507EA6", endColorstr="#5CE1ED", GradientType=1 );
    background-color: #062453;
    background-size:cover;
    height:100%;
    width:100%;
    z-index:-50;
    position:fixed;
    top:0;
    left:0;
}
#content{
    display:grid;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    grid-template-columns:repeat(6,1fr);
    grid-auto-rows: minmax(35px, auto);
    max-width:1920px;
    margin: 0 0 0 0;
    grid-template-areas: 
    "header header header header header header"
    "nav nav nav nav nav nav"
    ". main main main main ."
    "about about about about about about"
    "projects projects projects projects projects projects"
    "contact contact contact contact contact contact"
    "footer footer footer footer footer footer";
}
body{
    text-decoration: none;
    font-family: "Arial";
    text-transform: uppercase;
    font-size: larger;
    display: block;
    margin: 0px;
    color: rgb(15, 66, 75);
    text-align: center;
}
/*header and nav setup*/
header{
    grid-area: header;
    min-height: 5vh;
    max-width: 100vw;
    margin: 0;
    /*background-color:  rgba(24, 22, 22, 0.8);*/
}
header h1{
    color: rgb(15, 66, 75);
    font-size: 50px;
    font-weight: 700;
    line-height: 64px;
    margin: 0;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}
nav{
    grid-area: nav;
    min-height: 5vh;
    /*(background-color:  rgba(24, 22, 22, 0.8);*/
    margin: 0px 0px 40px 0px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav a{
    display: block;
    margin: 0px;
    text-decoration: none;
    color: rgb(15, 66, 75);
}
/* Nice Color
nav a:hover{
    background-color:  rgba(24, 22, 22, 0.8);
}
*/
nav a {
    padding: .5em .8em;
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  nav a::before,
  nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid white;
    border-right: 3px solid white;
    transform: translate(-100%, 50%);
  }  
  nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    transform: translate(100%, -50%)
  }
  nav a:hover:before,
  nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  nav a:hover {
    color: white;
  }
@media screen and (min-width: 768px) {
    nav ul{
        display: flex
    }
    nav a{
        margin: 0;
        padding: 0;
    }
    nav li{
        flex: 1 1 0;
    }
}
/*Main intro setup*/
main{
    grid-area: main;
    min-height: 90vh;
    justify-self: center;
}
main p{
    align-self: center;
    text-transform: uppercase;
    font-size: 35px;
    display: block;
    color: rgb(15, 66, 75);
    margin: 0px;
}
main span{
  align-self: center;
  text-transform: uppercase;
  font-size: 75px;
  display: block;
  color:  white
}
/*Name effects desktop*/
@media screen and (min-width:768px) {
main span {
  color: rgb(15, 66, 75);;
  width: 900px;
  position: absolute;
  left: 50%;
  top: 570px;
  transform: translate(-50%, -50%);
  margin: 15px 0px 15px 0px;
  font-size: 120px;
}
.hey{
  font-size: 50px;
}
span::before {
  content: "AREEB JAMAL";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    rgb(15, 66, 75) 2px,
    rgb(15, 66, 75) 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 37px;
  z-index: -1;
  transition: 0.75s;
}

span::after {
  content: "AREEB JAMAL";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    rgb(15, 66, 75) 2px,
    rgb(15, 66, 75) 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 36px;
  transition: 0.75s;
}
span:hover:before {
  top: 5px;
  left: 47px;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
}
span:hover:after {
  top: -5px;
  left: 25px;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
} 
}
/*Images effects mobile*/
main img{
  align-self: center;
  border: 3px rgb(15, 66, 75) solid;
  border-radius: 500px;
  box-sizing:border-box;
}
main div{
  height: 875px;
}
.image {
  position: relative;
  min-width: 200px;
  min-height: 290px;
  width: 100%;
  color: #ffffff;
  text-align: right;
  line-height: 1.2em;
  font-size: 16px;
}
.image * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.image img {
  position: absolute;
  right: 38px;
  top: 30%;
  opacity: 1;
  width: 100%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
.image figcaption {
  position: absolute;
  width: 50%;
  top: 33%;
  left: -60px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 20px 0 20px 20px;
}
.image h2,
.image p {
  margin: 0;
  width: 100%;
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  opacity: 0;
}
.image h2 {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.image p {
  font-size: 0.8em;
}
.image a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.image:hover img,
.image.hover img {
  width: 55%;
  right: 12%;
}
.image:hover figcaption h2,
.image.hover figcaption h2,
.image:hover figcaption p,
.image.hover figcaption p {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
/*Image effects desktop*/
@media screen and (min-width: 768px) {
    main div{
      height: 300px;
      display: flex;
    }
    .image{
      min-width: 300px;
      flex: 1 1 0;
    }
    .image img {
      right: 0px;
      top: 100px;
      flex: 1 1 0;
    }
}
/*About Me page*/
#About{
  grid-area: about;
  color: rgb(15, 66, 75);
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 40px;
}
#About div{
  display: block;
  justify-self: center;
}
#About a{
  font-size: 50px;
}
h3{
  font-size: 45px;
  margin: 0;
  margin-top: 10px;
}
#About p{
  text-transform: none;
  margin: 20px;
}
@media screen and (min-width: 768px){
  #About{
    margin-top: 0;
  }
  #About div{
    width: 50%;
  }
  #About h3{
    position:relative;
    left: 50%;
  }
  #About p{
    position:relative;
    left: 50%;
  }
  #About strong{
    font-size: 20px;
  }
}
#Projects{
  width: 100%;
  grid-area: projects;
  margin-top: 40px;
  justify-self: center;
}
#Projects div{
  margin-top: 10px;
  border: 3px solid rgb(15, 66, 75);
  border-radius: 30px;
}
#Projects a{
  font-size: 50px;
}
#Projects p{
  text-transform: none;
}
@media screen and (min-width:768px) {
  #Projects div{
  width: 25%;
  min-width: 15%;
  position: relative;
  left: 37.5%;
  }
  #Projects div:hover{
    color: white;
    border: 3px solid white;
  }
}
#Contact{
  width: 100%;
  grid-area: contact;
  margin-top: 40px;
  justify-self: center;
}
#Contact a{
  display: block;
  margin: 10px;
  text-decoration: none;
  color: rgb(15, 66, 75);
  font-size: 30px;
}
#Contact p{
  text-transform: none;
}
#Contact div a:hover{
  color: white;
}
@media screen and (min-width:768px) {
  #Contact{
    width: 50%;
  }
  #Contact div{
    display: flex;
    flex-basis: 50%;
  }
  #Contact a{
    flex: 1 1 0;
    justify-content: center;
  }
}
footer{
  margin-top: 20px;
  width: 100%;
  grid-area: footer;
  background-color: rgba(255, 255, 255, 0.6);
}
footer p{
  text-transform: none;
  text-align: center;
}

